i{
  margin-left: 10px;
  font-size: 48px;
}

.bg-secondary{
  background-color: transparent !important;
  background-image: linear-gradient(to bottom, rgba(#6f42c1, 1), rgba(#6f42c1, 0.95)) !important;
}

h2{
  text-transform: none !important;
}

.btn-outline-light{
  text-transform: none !important;
}
