.bg-white{
   background-color: transparent !important;
   background-image: linear-gradient(to bottom, rgba(#6f42c1, 1), rgba(#6f42c1, 0.95)) !important;
   //text-transform: none !important;
   height: 90px !important;
 }

 i{
  font-size: 40px;
  margin-top: 5px;
 }
